<head>
        <meta name="keywords" content="FadlyAPI, fadly-api, Free rest api, fadly docs, fadlyapi, fadly api, fadly rest api, fadlyid, programing unpas, fadlyapii, indonesia, web api, rest api gratis">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="FadlyAPI, fadly-api, free-rest-api">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="free rest api fadly untuk bot whatsapp, telegram, line atau lainnya">
        <meta name="google-site-verification" content="326ziQciDjp-x61P9UMC3-rlUpGIvVUFwOj1gas64UQ"/>
	    <meta name="robots" content="fadlyapi, fadly-api, free rest api, fadly rest api, fadly web, fadly-api.xyz">
        <meta name="author" content="Fadly ID">
</head>
<br><br><br><br><br><br>
<center>
<section id="home" data-parallax="scroll" style="  background-image: url(https://pingendo.com/site-assets/cover.jpg);  background-position: top left;  background-size: 100%;  background-repeat: repeat;">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Welcome to,</h3>
                <h1>
                    Welcome To Viko-API
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/docs" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Open Docs
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 
</section>
</center>
